* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
:root {
  --green-bc: #10b582;
  --main-bc-white: #fdfdfd;
  --white-text: #fdfdfd;
  --footer-text: #353a5a;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 135px;
  padding-right: 135px;
  /* border: 1px black solid; */
}

@font-face {
  font-family: RalewayM;
  src: url(./fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: RalewayR;
  src: url(./fonts/Raleway-Regular.ttf);
}
@media (max-width: 600px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) and (max-width: 1378px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
