* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: RalewayM; */
  color: var(--white);
}

:root {
  --green: #10b582;
  --white: #fdfdfd;
}

@font-face {
  font-family: RalewayM;
  src: url(./fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: RalewayR;
  src: url(./fonts/Raleway-Regular.ttf);
}
