* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
}
button {
  cursor: pointer;
}
:root {
  --green-bc: #10b582;
  --main-bc-white: #fdfdfd;
  --white-text: #fdfdfd;
  --footer-text: #353a5a;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 135px;
  padding-right: 135px;
  /* border: 1px black solid; */
}

@font-face {
  font-family: RalewayM;
  src: url(./fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: RalewayR;
  src: url(./fonts/Raleway-Regular.ttf);
}
